body{
	background-image: url(images/font1.jpg);
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
/*entete section*/
#entete h3{
	font-size: 20px;
	font-weight: 700;
	line-height: 45px;
	color: #CB0D0D;

}
#entete h1{
	font-size: 76px;
	font-weight: 200;
	line-height: 93px;
	color: #FFF;
;

}
.navbar{
	background: #490909;;
}
.nav-item a{
	color: #FFF;
	font-size: 18px;
	font-family: Montserrat;
	font-weight: 700;
}
/*entete section exit*/

/*-- fresh section--*/
#fresh{
	height: 700px;
}
.work{
	border-radius: 5px;
	background: #F6E1C5;
	margin-left: -200px;
}
#fresh .card{
	border: none;
	background: initial;
	margin-left: 150px;
	height: 600px;
}
#fresh .row{
	margin-top: 150px;
}
.fresh{
	background-image: url(images/fresh.png);
	background-repeat: no-repeat;
	height: 577px;

}
@media (max-width: 767px){
	body{
		margin-right: 0px;
	}
	.work{
	margin-left: 0px;
	}
	#fresh .row{
	margin-top: 150px;
	width: 250px;
	margin-left: 100px;
	}
	#fresh .card{
	margin-left: -100px;
	}
}
/*-- fresh section exit--*/

/*--promise section--*/
#promise{
	background: rgba(165, 52, 43, 0.69);
}
#promise .card{
	border-radius: 5px;
	border: 1px solid #F6E1C5;
	background: initial;
}
.promise-y{
	border-radius: 5px;
	background: #F6E1C5;
}
/*-- promise section exit--*/
.footer{
 background: #311919;
 color: white;
}